.mknock-btn {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    -moz-border-radius: 50%;
    border: none;
    border-radius: 50%;
    color: #a3be8c;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    transition: all .3s cubic-bezier(.4,0,.2,1);
    margin: .2rem auto;
    height: 2rem;
    width: 2rem;
    text-align: center;
}

.mknock-btn:hover {
    background-color: #b48ead;
}